<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ghostwriter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@*
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Ghostwriter", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        @Url.Action("Index", "Home")
                        </ul>
                    </div>
                </div>
            </div> *@
    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/Home">Ghostwriter Inc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Database">Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/User/Login">Login</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">&copy; @DateTime.Now.Year - Ghostwriter Inc</li>
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="/Home/Database">Database</a></li>
                <li class="breadcrumb-item"><a href="/Home/Reports">Reports</a></li>
                <li class="breadcrumb-item"><a href="/Home/About">About</a></li>
                <li class="breadcrumb-item"><a href="/Home/Contact">Contact</a></li>
                <li class="breadcrumb-item"><a href="/User/Login">Login</a></li>
            </ol>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
